hr {
    border-top: solid #000000;
    border-width: 5px;
}

.card hr {
    border-width: 5px;
    border-color: aqua;
}

.card {
    background-color: rgba(22, 38, 108, 0.9);
    color: rgba(229, 45, 79, 0.962);
}

body {
    overflow-x: hidden;
}

a {
    color: rgba(229, 45, 79, 0.962);
    text-decoration: none;
}

.search {
    margin-left: 9%;
    width: 30%;
    height: 3rem;
    padding: 1rem;
    border-radius: 50px;
    margin-right: -50px;
}